# OS
.DS_Store
Thumbs.db

# IDE / éditeurs
.idea/
.vscode/
*.swp
*.swo
*~

# Build / packaging
dist/
*.zip
node_modules/

# Environnements Python
.venv/
__pycache__/

# Logs et temporaires
*.log
.cache/
tmp/
temp/
